* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #222222;
	color: #fff;
	font-size: 1.6rem;
}

.purchaseActive {
	transform: translate(-50%, -50%) !important;
}

.showPurchase {
	position: fixed;
	width: 90%;
	padding: 5rem 3rem;
	background-color: #000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -250%);
	transition: all 0.5s ease-in;
	z-index: 999;

	.close {
		position: absolute;
		right: 2rem;
		top: 1rem;
		font-size: 3rem;
		cursor: pointer;
	}

	div {
		display: grid;
		justify-items: center;

		h3 {
			margin-bottom: 2rem;
			padding-bottom: 1rem;
			font-size: 3rem;
			border-bottom: 2px solid #fff;
		}

		p:nth-of-type(1) {
			font-size: 2rem;
			margin-bottom: 1rem;

			span {
				font-size: 3rem;
				color: #069c06;
			}
		}

		p:nth-of-type(2) {
			font-size: 2rem;
			margin-bottom: 1rem;

			span {
				font-size: 3rem;
				color: #069c06;
			}
		}
	}
}

button {
	cursor: pointer;
}

.notActive {
	background-color: rgba(#000, 0.3) !important;
	cursor: not-allowed !important;

	span {
		pointer-events: none;
	}
}

nav {
	position: fixed;
	right: 4rem;
	top: 2rem;
	z-index: 9;
	cursor: pointer;
	color: #000;
	display: grid;

	.active {
		display: block !important;
		opacity: 1 !important;
	}

	.product-info__container {
		width: 25rem;
		padding: 1rem;
		background-color: #fff;
		border-radius: 5px;
		position: relative;
		z-index: 99;
		border: 1px solid;
		-webkit-box-shadow: 5px 5px 15px -1px #000000;
		box-shadow: 5px 5px 15px -1px #000000;

		opacity: 0;
		display: none;
		transition: all 0.5s linear;

		.product-info {
			&__box {
				display: grid;
				border-bottom: 2px solid;
				margin-bottom: 2rem;

				div {
					display: grid;
					grid-template-columns: 7rem 1fr;
					grid-template-rows: repeat(2, min-content);
					gap: 1rem;

					img {
						grid-column: 1/2;
						grid-row: 1/-1;
						width: 100%;
						height: 100%;
						display: block;
					}

					p {
						grid-column: 2/3;
						grid-row: 1/2;
						padding-bottom: 5px;
						border-bottom: 1px solid;
						font-weight: bold;
					}

					div {
						grid-column: 2/3;
						grid-row: 2/3;
						display: flex;
						justify-content: space-between;
						align-items: center;

						span {
							width: auto;
							height: auto;
							font-weight: bold;
						}

						input {
							width: 6rem;
							height: 3rem;
							display: inline-block;
						}
					}
				}

				button.remove {
					background-color: rgb(71, 4, 30);
					border: 0;
					display: inline-block;
					height: 3rem;
					color: #fff;
					border-radius: 5px;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					font-weight: bold;
					margin: 1rem 0;
					padding: 0.5rem 1rem;
					outline: 0;
					font-size: 1rem;
					line-height: 0;
					justify-self: flex-end;
				}
			}
		}

		.product-balance {
			.total1 {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;
				border-bottom: 1px solid;

				span {
					width: auto;
					height: auto;
					font-size: 2rem;
					font-weight: bold;
					color: #333333;
				}
			}

			.total2 {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid;

				span {
					width: auto;
					height: auto;
					font-size: 2rem;
					font-weight: bold;
					color: #333333;
				}
			}

			.purchase {
				border: 0;
				display: inline-block;
				margin-top: 2rem;
				width: 100%;
				height: 4rem;
				border-radius: 3px;
				text-transform: uppercase;
				font-weight: bold;
				background-color: #069c06;
				color: #fff;
				letter-spacing: 1.5px;
			}
		}
	}

	span {
		width: 5rem;
		height: 5rem;
		display: inline-block;
		position: relative;
		justify-self: flex-end;

		i {
			display: inline-block;
			color: #fff;
			position: absolute;
			right: 0;
			background-color: #fff;
			padding: 5px;
			font-size: 1.3rem;
			font-weight: bold;
			border-radius: 50%;
			color: #000;
			top: -1rem;
			line-height: 1;
			font-style: italic;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.item {
	padding: 7rem 0rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
	justify-content: center;
	gap: 6rem 3rem;

	&__box {
		padding: 1rem;
		border-radius: 5px;
		border: 1px solid rgba(#000, 0.4);
		display: grid;
		justify-content: center;
		background-color: #4742BB;

		-webkit-box-shadow: 5px 5px 10px -3px rgba(#000, 0.7);
		box-shadow: 5px 5px 10px -3px rgba(#000, 0.7);

		img {
			width: 20rem;
			height: 20rem;
		}

		p {
			text-align: center;
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: 1.5px;
			margin: 2rem 0;
			justify-self: center;
			padding-bottom: 1rem;
			border-bottom: 1px solid #000000;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;

			span {
				display: inline-block;
				font-weight: bold;
			}

			input {
				width: 7rem;
				height: 3rem;
				display: inline-block;
				padding: 5px;

				&::placeholder {
					color: #000000;
				}
			}
		}

		.addBtn {
			height: 4rem;
			border: 0;
			outline: 0;
			background-color: #000000;
			display: inline-block;
			border-radius: 5px;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;

			span.add {
				display: block;
				width: 100%;
				height: 100%;
				line-height: 4rem;
			}
		}
	}
}